<p-carousel
  [value]="data"
  [numVisible]="5"
  [numScroll]="3"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-skill pTemplate="item">
    <div
      class="flex flex-col items-center h-[130px] w-[161px] max-sm:w-[80px] max-sm:h-[80px] max-md:w-[100px] max-md:h-[100px]"
    >
      <img
        src="{{
          './assets/skill-images/' + fileTag + '/' + skill.image + '.png'
        }}"
        alt="{{ skill.image }}"
        class="w-[50%] h-[60%] max-md:w-[60%]"
      />
      <p class="max-sm:text-[10px] text-center">{{ skill.name }}</p>
    </div>
  </ng-template>
</p-carousel>
