<div
  class="bg-[url('./assets/images/bg-home.jpeg')] bg-no-repeat text-white px-[3vw] pb-32 pt-8 bg-cover w-[100%]"
  id="home"
>
  <div
    class="max-w-[1280px] m-auto flex pt-28 max-sm:pt-20 justify-between flex-col lg:flex-row w-[100%] gap-10 items-center"
  >
    <div class="lg:w-[65%]">
      <p
        class="font-bold text-xl border-2 border-solid border-white w-fit py-3 px-5 bg-gray-100/35 mb-8"
      >
        Welcome to my Portfolio
      </p>
      <h1 class="font-bold text-5xl mb-6">Hi! I'm Eduar, Software Developer</h1>
      <p>
        My full name is Eduar Chilon Cruz, I am an enthusiastic, committed and
        responsible person. My curiosity and the desire for continuous learning
        drive me to acquire new useful tools for my professional development. I
        seek to combine my academic training with my passion for new
        technologies in an organization that allows me to achieve my
        professional development.
      </p>
    </div>
    <div class="lg:w-[35%] w-[75%]">
      <img
        src="./assets/images/profile-image.svg"
        alt="my profile picture"
        class="w-full h-full"
      />
    </div>
  </div>
  <div class="max-w-[1280px] w-[100%] m-auto pt-10">
    <a
      href="#contact"
      class="text-white font-semibold flex items-center gap-2 text-xl no-underline w-fit justify-center lg:justify-center"
    >
      Let's Connect
      <i class="pi pi-arrow-circle-right text-3xl" style="color: white"></i
    ></a>
  </div>
</div>
